<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="icon" href="../assets/icons/favicon.ico">
        <link rel="stylesheet" href="../assets/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/node_modules/bootstrap-icons/font/bootstrap-icons.css">
        <link rel="stylesheet" href="../assets/css/settings.css">
        <script src="../assets/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../assets/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
        <script src="../assets/js/settings.js"></script> -->
        <title>sum</title>
    </head>
    <body>
        <div id="contents">
            <table>
                <tr>
                    {% for i in price %}
                    <li>
                        {{ i.name }}:{{ i.price }}円
                    </li>
                    {% endfor %}
                </tr>
                <p>合計:{{ sum_price }}</p>
            </table>
        </div>
        <hr>
        <a href="/home">HOME</a>
    </body>
</html>