<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="icon" href="../assets/icons/favicon.ico">
        <link rel="stylesheet" href="../assets/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/node_modules/bootstrap-icons/font/bootstrap-icons.css">
        <link rel="stylesheet" href="../assets/css/settings.css"> -->
        <!-- <script src="../static/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../static/node_modules/jquery-ui-dist/jquery-ui.min.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/static/javascript/index.js"></script>
        <title>sum</title>
    </head>
    <body>
        <p>{{ year }}年{{ mon }}月</p>
        <div id="contents">
            <table>
                <tr>
                    {% for i in price %}
                    <li>
                        {{ i.date.month }}月{{ i.date.day }}日 {{ i.name }}:{{ i.price }}円
                        <button class="delete" id="delete-btn" name="{{ i.name }}&{{ i.price }}">削除</button>
                    </li>
                    {% endfor %}
                </tr>
                <p>合計:{{ sum_price }}円</p>
            </table>
        </div>
        <hr>
        <a href="/home">HOME</a>
    </body>
</html>